*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(17, 17, 17);
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    font-family: monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links-ul{
    list-style-type: none;
    display: flex;
    column-gap: 2rem;
}
a{
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;
}


.logo{
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;    
}

#onboard-user{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
    padding: 0 1rem;
}

#hero-text p{
    margin-top: 2rem;
}
.hero-section-heading{
    font-size: 2rem;
    text-align: start;
}